In [16]:
import sys
import os
sys.path.append(os.path.abspath('../scripts'))
sys.path.append(os.path.abspath('../DB_Connection'))
sys.path.append(os.path.abspath('../src'))

In [17]:
from db import load_data_from_postgres,load_data_using_sqlalchemy
from utils import missing_values_table,convert_bytes_to_megabytes,remove_all_columns_outliers

In [18]:
# Define your SQL query
query = "SELECT * FROM xdr_data;"  # Replace with your actual table name

# Load data from PostgreSQL
df = load_data_from_postgres(query)

# Display the first few rows of the dataframe
if df is not None:
    print("Successfully loaded the data")
else:
    print("Failed to load data.")

d:\Kifya\Week_02\DB_Connection\db.py:33: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

Successfully loaded the data

In [19]:
data=df.copy()

In [20]:
# Check for missing values
data.isnull().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [21]:
# Summary statistics for numerical columns
data.describe()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.490100e+05,150000.000000,150000.000000,1.500000e+05,1.494310e+05,1.489350e+05,1.494290e+05,122172.000000,122189.000000,150000.000000,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500000e+05,1.500000e+05
mean,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082016e+14,4.188282e+10,4.847455e+13,109.795706,17.662883,13300.045927,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,2.893173e+18,288.611834,288.097653,8.103762e+04,2.148809e+10,2.447443e+12,2.241637e+13,619.782739,84.793524,23971.878541,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127639e+07,2.441429e+08
min,6.917538e+18,0.000000,0.000000,7.142000e+03,2.040471e+14,3.360100e+10,4.400152e+11,0.000000,0.000000,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349883e+18,250.000000,251.000000,5.744050e+04,2.082014e+14,3.365130e+10,3.546071e+13,32.000000,2.000000,43.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,7.349883e+18,499.000000,500.000000,8.639900e+04,2.082015e+14,3.366371e+10,3.572201e+13,45.000000,5.000000,63.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,1.304243e+19,749.000000,750.000000,1.324302e+05,2.082018e+14,3.368349e+10,8.611970e+13,70.000000,15.000000,19710.750000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,1.318654e+19,999.000000,999.000000,1.859336e+06,2.140743e+14,8.823971e+14,9.900120e+13,96923.000000,7120.000000,378160.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08

In [23]:
missing_values_df = missing_values_table(data)
print("Missing Values in df:\n\n")
print(missing_values_df)

Your selected dataframe has 55 columns.
There are 41 columns that have missing values.
Missing Values in df:


                                          Missing Values  % of Total Values  \
Nb of sec with 37500B < Vol UL                    130254               86.8
Nb of sec with 6250B < Vol UL < 37500B            111843               74.6
Nb of sec with 125000B < Vol DL                    97538               65.0
TCP UL Retrans. Vol (Bytes)                        96649               64.4
Nb of sec with 31250B < Vol DL < 125000B           93586               62.4
Nb of sec with 1250B < Vol UL < 6250B              92894               61.9
Nb of sec with 6250B < Vol DL < 31250B             88317               58.9
TCP DL Retrans. Vol (Bytes)                        88146               58.8
HTTP UL (Bytes)                                    81810               54.5
HTTP DL (Bytes)                                    81474               54.3
Avg RTT DL (ms)                                    27829               18.6
Avg RTT UL (ms)                                    27812               18.5
Last Location Name                                  1153                0.8
MSISDN/Number                                       1066                0.7
Bearer Id                                            991                0.7
Nb of sec with Vol UL < 1250B                        793                0.5
UL TP < 10 Kbps (%)                                  792                0.5
50 Kbps < UL TP < 300 Kbps (%)                       792                0.5
UL TP > 300 Kbps (%)                                 792                0.5
10 Kbps < UL TP < 50 Kbps (%)                        792                0.5
Nb of sec with Vol DL < 6250B                        755                0.5
DL TP > 1 Mbps (%)                                   754                0.5
50 Kbps < DL TP < 250 Kbps (%)                       754                0.5
250 Kbps < DL TP < 1 Mbps (%)                        754                0.5
DL TP < 50 Kbps (%)                                  754                0.5
Handset Manufacturer                                 572                0.4
Handset Type                                         572                0.4
IMEI                                                 572                0.4
IMSI                                                 570                0.4
Start                                                  1                0.0
Start ms                                               1                0.0
End                                                    1                0.0
End ms                                                 1                0.0
Dur. (ms)                                              1                0.0
Avg Bearer TP UL (kbps)                                1                0.0
Avg Bearer TP DL (kbps)                                1                0.0
Dur. (ms).1                                            1                0.0
Activity Duration UL (ms)                              1                0.0
Activity Duration DL (ms)                              1                0.0
Total UL (Bytes)                                       1                0.0
Total DL (Bytes)                                       1                0.0

                                            Dtype
Nb of sec with 37500B < Vol UL            float64
Nb of sec with 6250B < Vol UL < 37500B    float64
Nb of sec with 125000B < Vol DL           float64
TCP UL Retrans. Vol (Bytes)               float64
Nb of sec with 31250B < Vol DL < 125000B  float64
Nb of sec with 1250B < Vol UL < 6250B     float64
Nb of sec with 6250B < Vol DL < 31250B    float64
TCP DL Retrans. Vol (Bytes)               float64
HTTP UL (Bytes)                           float64
HTTP DL (Bytes)                           float64
Avg RTT DL (ms)                           float64
Avg RTT UL (ms)                           float64
Last Location Name                         object
MSISDN/Number                             float64
Bearer Id                                 float64
Nb of sec with Vol UL < 1250B             float64
UL TP < 10 Kbps (%)                       float64
50 Kbps < UL TP < 300 Kbps (%)            float64
UL TP > 300 Kbps (%)                      float64
10 Kbps < UL TP < 50 Kbps (%)             float64
Nb of sec with Vol DL < 6250B             float64
DL TP > 1 Mbps (%)                        float64
50 Kbps < DL TP < 250 Kbps (%)            float64
250 Kbps < DL TP < 1 Mbps (%)             float64
DL TP < 50 Kbps (%)                       float64
Handset Manufacturer                       object
Handset Type                               object
IMEI                                      float64
IMSI                                      float64
Start                                      object
Start ms                                  float64
End                                        object
End ms                                    float64
Dur. (ms)                                 float64
Avg Bearer TP UL (kbps)                   float64
Avg Bearer TP DL (kbps)                   float64
Dur. (ms).1                               float64
Activity Duration UL (ms)                 float64
Activity Duration DL (ms)                 float64
Total UL (Bytes)                          float64
Total DL (Bytes)                          float64

In [25]:
import pandas as pd
# Convert 'Start' and 'End' columns to datetime format
data['Start'] = pd.to_datetime(data['Start'], errors='coerce')
data['End'] = pd.to_datetime(data['End'], errors='coerce')

# Check for any missing values introduced due to invalid date formats
# missing_dates = droped_data[['Start', 'End']].isnull().sum()

In [26]:
data.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [27]:
# Summary statistics for numerical columns
data.describe()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.490100e+05,150000,150000.000000,150000,150000.000000,1.500000e+05,1.494310e+05,1.489350e+05,1.494290e+05,122172.000000,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500000e+05,1.500000e+05
mean,1.013887e+19,2019-04-26 12:36:09.616800,499.188200,2019-04-27 17:39:38.703200,498.800880,1.046086e+05,2.082016e+14,4.188282e+10,4.847455e+13,109.795706,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
min,6.917538e+18,2019-04-04 12:01:00,0.000000,2019-04-24 22:59:00,0.000000,7.142000e+03,2.040471e+14,3.360100e+10,4.400152e+11,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349883e+18,2019-04-25 00:26:00,250.000000,2019-04-26 07:30:00,251.000000,5.744050e+04,2.082014e+14,3.365130e+10,3.546071e+13,32.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,7.349883e+18,2019-04-26 08:51:00,499.000000,2019-04-27 23:02:00,500.000000,8.639900e+04,2.082015e+14,3.366371e+10,3.572201e+13,45.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,1.304243e+19,2019-04-27 18:18:15,749.000000,2019-04-29 07:15:00,750.000000,1.324302e+05,2.082018e+14,3.368349e+10,8.611970e+13,70.000000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,1.318654e+19,2019-04-29 07:28:00,999.000000,2019-04-30 23:59:00,999.000000,1.859336e+06,2.140743e+14,8.823971e+14,9.900120e+13,96923.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08
std,2.893173e+18,NaN,288.611834,NaN,288.097653,8.103762e+04,2.148809e+10,2.447443e+12,2.241637e+13,619.782739,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127639e+07,2.441429e+08

In [10]:
print(data.dtypes)

Bearer Id                                          float64
Start                                       datetime64[ns]
Start ms                                           float64
End                                         datetime64[ns]
End ms                                             float64
Dur. (ms)                                          float64
IMSI                                               float64
MSISDN/Number                                      float64
IMEI                                               float64
Last Location Name                                  object
Avg RTT DL (ms)                                    float64
Avg RTT UL (ms)                                    float64
Avg Bearer TP DL (kbps)                            float64
Avg Bearer TP UL (kbps)                            float64
TCP DL Retrans. Vol (Bytes)                        float64
TCP UL Retrans. Vol (Bytes)                        float64
DL TP < 50 Kbps (%)                                float64
50 Kbps < DL TP < 250 Kbps (%)                     float64
250 Kbps < DL TP < 1 Mbps (%)                      float64
DL TP > 1 Mbps (%)                                 float64
UL TP < 10 Kbps (%)                                float64
10 Kbps < UL TP < 50 Kbps (%)                      float64
50 Kbps < UL TP < 300 Kbps (%)                     float64
UL TP > 300 Kbps (%)                               float64
HTTP DL (Bytes)                                    float64
HTTP UL (Bytes)                                    float64
Activity Duration DL (ms)                          float64
Activity Duration UL (ms)                          float64
Dur. (ms).1                                        float64
Handset Manufacturer                                object
Handset Type                                        object
Nb of sec with 125000B < Vol DL                    float64
Nb of sec with 1250B < Vol UL < 6250B              float64
Nb of sec with 31250B < Vol DL < 125000B           float64
Nb of sec with 37500B < Vol UL                     float64
Nb of sec with 6250B < Vol DL < 31250B             float64
Nb of sec with 6250B < Vol UL < 37500B             float64
Nb of sec with Vol DL < 6250B                      float64
Nb of sec with Vol UL < 1250B                      float64
Social Media DL (Bytes)                            float64
Social Media UL (Bytes)                            float64
Google DL (Bytes)                                  float64
Google UL (Bytes)                                  float64
Email DL (Bytes)                                   float64
Email UL (Bytes)                                   float64
Youtube DL (Bytes)                                 float64
Youtube UL (Bytes)                                 float64
Netflix DL (Bytes)                                 float64
Netflix UL (Bytes)                                 float64
Gaming DL (Bytes)                                  float64
Gaming UL (Bytes)                                  float64
Other DL (Bytes)                                   float64
Other UL (Bytes)                                   float64
Total UL (Bytes)                                   float64
Total DL (Bytes)                                   float64
dtype: object

In [28]:
# fill numeric missing value with mean
numeric_cols = data.select_dtypes(include='number').columns
data_filled_numeric = data[numeric_cols].fillna(data[numeric_cols].mean())

In [29]:
# Fill non-numeric columns with a placeholder or mode
non_numeric_cols = data.select_dtypes(exclude='number').columns

data_filled_non_numeric = data[non_numeric_cols].fillna('Unknown')

In [30]:
# Merge both numeric and non-numeric
new_data = pd.concat([data_filled_numeric, data_filled_non_numeric], axis=1)


# check missing value after hadle it
print(new_data.isnull().sum())

Bearer Id                                   0
Start ms                                    0
End ms                                      0
Dur. (ms)                                   0
IMSI                                        0
MSISDN/Number                               0
IMEI                                        0
Avg RTT DL (ms)                             0
Avg RTT UL (ms)                             0
Avg Bearer TP DL (kbps)                     0
Avg Bearer TP UL (kbps)                     0
TCP DL Retrans. Vol (Bytes)                 0
TCP UL Retrans. Vol (Bytes)                 0
DL TP < 50 Kbps (%)                         0
50 Kbps < DL TP < 250 Kbps (%)              0
250 Kbps < DL TP < 1 Mbps (%)               0
DL TP > 1 Mbps (%)                          0
UL TP < 10 Kbps (%)                         0
10 Kbps < UL TP < 50 Kbps (%)               0
50 Kbps < UL TP < 300 Kbps (%)              0
UL TP > 300 Kbps (%)                        0
HTTP DL (Bytes)                             0
HTTP UL (Bytes)                             0
Activity Duration DL (ms)                   0
Activity Duration UL (ms)                   0
Dur. (ms).1                                 0
Nb of sec with 125000B < Vol DL             0
Nb of sec with 1250B < Vol UL < 6250B       0
Nb of sec with 31250B < Vol DL < 125000B    0
Nb of sec with 37500B < Vol UL              0
Nb of sec with 6250B < Vol DL < 31250B      0
Nb of sec with 6250B < Vol UL < 37500B      0
Nb of sec with Vol DL < 6250B               0
Nb of sec with Vol UL < 1250B               0
Social Media DL (Bytes)                     0
Social Media UL (Bytes)                     0
Google DL (Bytes)                           0
Google UL (Bytes)                           0
Email DL (Bytes)                            0
Email UL (Bytes)                            0
Youtube DL (Bytes)                          0
Youtube UL (Bytes)                          0
Netflix DL (Bytes)                          0
Netflix UL (Bytes)                          0
Gaming DL (Bytes)                           0
Gaming UL (Bytes)                           0
Other DL (Bytes)                            0
Other UL (Bytes)                            0
Total UL (Bytes)                            0
Total DL (Bytes)                            0
Start                                       0
End                                         0
Last Location Name                          0
Handset Manufacturer                        0
Handset Type                                0
dtype: int64

In [31]:
new_data.shape

(150001, 55)

In [32]:
data_iqr_cleaned = remove_all_columns_outliers(new_data, method="iqr")
data_cleaned_zscore = remove_all_columns_outliers(new_data, method="zscore")
# Check the shape of the cleaned 
print(f"Original data shape: {data.shape}")
print(f"Cleaned data shape (IQR method): {data_iqr_cleaned.shape}")
print(f"Cleaned data shape (Z-score method): {data_cleaned_zscore.shape}")

Column: Bearer Id
  Q1: 7.34988324744792e+18, Q3: 1.30424259789285e+19, IQR: 5.692542731480581e+18, Lower Bound: -1.1889308497729526e+18, Upper Bound: 2.1581240076149375e+19
Column: Start ms
  Q1: 250.0, Q3: 749.0, IQR: 499.0, Lower Bound: -498.5, Upper Bound: 1497.5
Column: End ms
  Q1: 251.0, Q3: 750.0, IQR: 499.0, Lower Bound: -497.5, Upper Bound: 1498.5
Column: Dur. (ms)
  Q1: 57442.0, Q3: 132430.0, IQR: 74988.0, Lower Bound: -55040.0, Upper Bound: 244912.0
Column: IMSI
  Q1: 208201401266371.0, Q3: 208201771559170.0, IQR: 370292799.0, Lower Bound: 208200845827172.5, Upper Bound: 208202326998368.5
Column: MSISDN/Number
  Q1: 33651858471.0, Q3: 33684578386.0, IQR: 32719915.0, Lower Bound: 33602778598.5, Upper Bound: 33733658258.5
Column: IMEI
  Q1: 35482609793567.0, Q3: 86293404018547.0, IQR: 50810794224980.0, Lower Bound: -40733581543903.0, Upper Bound: 162509595356017.0
Column: Avg RTT DL (ms)
  Q1: 35.0, Q3: 109.79570605376027, IQR: 74.79570605376027, Lower Bound: -77.1935590806404, Upper Bound: 221.98926513440068
Column: Avg RTT UL (ms)
  Q1: 3.0, Q3: 17.662882910900326, IQR: 14.662882910900326, Lower Bound: -18.99432436635049, Upper Bound: 39.65720727725082
Column: Avg Bearer TP DL (kbps)
  Q1: 42.0, Q3: 17766.75, IQR: 17724.75, Lower Bound: -26545.125, Upper Bound: 44353.875
Column: Avg Bearer TP UL (kbps)
  Q1: 46.0, Q3: 468.0, IQR: 422.0, Lower Bound: -587.0, Upper Bound: 1101.0
Column: TCP DL Retrans. Vol (Bytes)
  Q1: 20809914.27034193, Q3: 20809914.27034193, IQR: 0.0, Lower Bound: 20809914.27034193, Upper Bound: 20809914.27034193
Column: TCP UL Retrans. Vol (Bytes)
  Q1: 759658.6648110661, Q3: 759658.6648110661, IQR: 0.0, Lower Bound: 759658.6648110661, Upper Bound: 759658.6648110661
Column: DL TP < 50 Kbps (%)
  Q1: 100.0, Q3: 100.0, IQR: 0.0, Lower Bound: 100.0, Upper Bound: 100.0
Column: 50 Kbps < DL TP < 250 Kbps (%)
  Q1: 0.0, Q3: 0.0, IQR: 0.0, Lower Bound: 0.0, Upper Bound: 0.0
Column: 250 Kbps < DL TP < 1 Mbps (%)
  Q1: 0.0, Q3: 0.0, IQR: 0.0, Lower Bound: 0.0, Upper Bound: 0.0
Column: DL TP > 1 Mbps (%)
  Q1: 0.0, Q3: 0.0, IQR: 0.0, Lower Bound: 0.0, Upper Bound: 0.0
Column: UL TP < 10 Kbps (%)
  Q1: 100.0, Q3: 100.0, IQR: 0.0, Lower Bound: 100.0, Upper Bound: 100.0
Column: 10 Kbps < UL TP < 50 Kbps (%)
  Q1: 0.0, Q3: 0.0, IQR: 0.0, Lower Bound: 0.0, Upper Bound: 0.0
Column: 50 Kbps < UL TP < 300 Kbps (%)
  Q1: 0.0, Q3: 0.0, IQR: 0.0, Lower Bound: 0.0, Upper Bound: 0.0
Column: UL TP > 300 Kbps (%)
  Q1: 0.0, Q3: 0.0, IQR: 0.0, Lower Bound: 0.0, Upper Bound: 0.0
Column: HTTP DL (Bytes)
  Q1: 114471023.70188393, Q3: 114471023.70188393, IQR: 0.0, Lower Bound: 114471023.70188393, Upper Bound: 114471023.70188393
Column: HTTP UL (Bytes)
  Q1: 3242301.384874837, Q3: 3242301.384874837, IQR: 0.0, Lower Bound: 3242301.384874837, Upper Bound: 3242301.384874837
Column: Activity Duration DL (ms)
  Q1: 8028.0, Q3: 31665.75, IQR: 23637.75, Lower Bound: -27428.625, Upper Bound: 67122.375
Column: Activity Duration UL (ms)
  Q1: 14924.5, Q3: 38106.5, IQR: 23182.0, Lower Bound: -19848.5, Upper Bound: 72879.5
Column: Dur. (ms).1
  Q1: 81782301.25, Q3: 150608341.5, IQR: 68826040.25, Lower Bound: -21456759.125, Upper Bound: 253847401.875
Column: Nb of sec with 125000B < Vol DL
  Q1: 989.6999980938947, Q3: 989.6999980938947, IQR: 0.0, Lower Bound: 989.6999980938947, Upper Bound: 989.6999980938947
Column: Nb of sec with 1250B < Vol UL < 6250B
  Q1: 340.43439508291453, Q3: 340.43439508291453, IQR: 0.0, Lower Bound: 340.43439508291453, Upper Bound: 340.43439508291453
Column: Nb of sec with 31250B < Vol DL < 125000B
  Q1: 810.8374014003368, Q3: 810.8374014003368, IQR: 0.0, Lower Bound: 810.8374014003368, Upper Bound: 810.8374014003368
Column: Nb of sec with 37500B < Vol UL
  Q1: 149.25705170405632, Q3: 149.25705170405632, IQR: 0.0, Lower Bound: 149.25705170405632, Upper Bound: 149.25705170405632
Column: Nb of sec with 6250B < Vol DL < 31250B
  Q1: 965.4647558524091, Q3: 965.4647558524091, IQR: 0.0, Lower Bound: 965.4647558524091, Upper Bound: 965.4647558524091
Column: Nb of sec with 6250B < Vol UL < 37500B
  Q1: 141.3048115729336, Q3: 141.3048115729336, IQR: 0.0, Lower Bound: 141.3048115729336, Upper Bound: 141.3048115729336
Column: Nb of sec with Vol DL < 6250B
  Q1: 48.0, Q3: 142.0, IQR: 94.0, Lower Bound: -93.0, Upper Bound: 283.0
Column: Nb of sec with Vol UL < 1250B
  Q1: 74.0, Q3: 161.0, IQR: 87.0, Lower Bound: -56.5, Upper Bound: 291.5
Column: Social Media DL (Bytes)
  Q1: 903771.0, Q3: 2691103.0, IQR: 1787332.0, Lower Bound: -1777227.0, Upper Bound: 5372101.0
Column: Social Media UL (Bytes)
  Q1: 16326.0, Q3: 49379.0, IQR: 33053.0, Lower Bound: -33253.5, Upper Bound: 98958.5
Column: Google DL (Bytes)
  Q1: 2887436.0, Q3: 8614935.5, IQR: 5727499.5, Lower Bound: -5703813.25, Upper Bound: 17206184.75
Column: Google UL (Bytes)
  Q1: 1036727.0, Q3: 3090724.5, IQR: 2053997.5, Lower Bound: -2044269.25, Upper Bound: 6171720.75
Column: Email DL (Bytes)
  Q1: 893533.5, Q3: 2685382.5, IQR: 1791849.0, Lower Bound: -1794240.0, Upper Bound: 5373156.0
Column: Email UL (Bytes)
  Q1: 234184.5, Q3: 699044.0, IQR: 464859.5, Lower Bound: -463104.75, Upper Bound: 1396333.25
Column: Youtube DL (Bytes)
  Q1: 5793669.5, Q3: 17370466.5, IQR: 11576797.0, Lower Bound: -11571526.0, Upper Bound: 34735662.0
Column: Youtube UL (Bytes)
  Q1: 5539131.5, Q3: 16518489.5, IQR: 10979358.0, Lower Bound: -10929905.5, Upper Bound: 32987526.5
Column: Netflix DL (Bytes)
  Q1: 5751155.5, Q3: 17461077.5, IQR: 11709922.0, Lower Bound: -11813727.5, Upper Bound: 35025960.5
Column: Netflix UL (Bytes)
  Q1: 5480414.0, Q3: 16469207.0, IQR: 10988793.0, Lower Bound: -11002775.5, Upper Bound: 32952396.5
Column: Gaming DL (Bytes)
  Q1: 210962453.5, Q3: 635101003.0, IQR: 424138549.5, Lower Bound: -425245370.75, Upper Bound: 1271308827.25
Column: Gaming UL (Bytes)
  Q1: 4109518.5, Q3: 12442146.5, IQR: 8332628.0, Lower Bound: -8389423.5, Upper Bound: 24941088.5
Column: Other DL (Bytes)
  Q1: 209500508.5, Q3: 630936699.0, IQR: 421436190.5, Lower Bound: -422653777.25, Upper Bound: 1263090984.75
Column: Other UL (Bytes)
  Q1: 4157441.0, Q3: 12383691.5, IQR: 8226250.5, Lower Bound: -8181934.75, Upper Bound: 24723067.25
Column: Total UL (Bytes)
  Q1: 33172025.0, Q3: 48943937.0, IQR: 15771912.0, Lower Bound: 9514157.0, Upper Bound: 72601805.0
Column: Total DL (Bytes)
  Q1: 243189290.0, Q3: 667376977.5, IQR: 424187687.5, Lower Bound: -393092241.25, Upper Bound: 1303658508.75
Original data shape: (150001, 55)
Cleaned data shape (IQR method): (49771, 55)
Cleaned data shape (Z-score method): (127925, 55)

### Take Z-score for taking most essential datas

In [36]:
# df['TCP DL Retrans. Vol (Bytes)'].fillna(df['TCP DL Retrans. Vol (Bytes)'].mean(), inplace=True)
# df['TCP UL Retrans. Vol (Bytes)'].fillna(df['TCP UL Retrans. Vol (Bytes)'].mean(), inplace=True)

# Step 3: Remove or handle outliers using z-scores or IQR methods (not shown here for simplicity) it is already done in EDA part

# Step 4: Group by customer (MSISDN/Number)
new_data['Total TCP Retrans. (Bytes)'] = new_data['TCP DL Retrans. Vol (Bytes)'] + new_data['TCP UL Retrans. Vol (Bytes)']

# Step 5: Aggregate average TCP retransmission per customer
customer_tcp_retrans = new_data.groupby('MSISDN/Number')['Total TCP Retrans. (Bytes)'].mean().reset_index()

# Step 6: Display the result
print('\nAverage TCP transmission per customer\n',customer_tcp_retrans)

Average TCP transmission per customer
         MSISDN/Number  Total TCP Retrans. (Bytes)
0        3.360100e+10                2.156957e+07
1        3.360100e+10                2.156957e+07
2        3.360100e+10                2.156957e+07
3        3.360101e+10                7.607247e+05
4        3.360101e+10                1.547020e+07
...               ...                         ...
106852   3.379000e+10                2.156957e+07
106853   4.188282e+10                1.698397e+07
106854   3.197021e+12                2.156957e+07
106855   3.370000e+14                2.156957e+07
106856   8.823971e+14                2.156957e+07

[106857 rows x 2 columns]

In [40]:
new_data['Total RTT (ms)'] = new_data['Avg RTT DL (ms)'] + new_data['Avg RTT UL (ms)']

# Step 3: Group by customer (MSISDN/Number) and calculate average total RTT
average_rtt = new_data.groupby('MSISDN/Number')['Total RTT (ms)'].mean().reset_index()

# Step 4: Result - average RTT per customer
print('\nAverage RTT\n\n',average_rtt)

Average RTT

         MSISDN/Number  Total RTT (ms)
0        3.360100e+10       46.000000
1        3.360100e+10       31.000000
2        3.360100e+10      127.458589
3        3.360101e+10       84.000000
4        3.360101e+10       59.500000
...               ...             ...
106852   3.379000e+10       40.000000
106853   4.188282e+10      309.123982
106854   3.197021e+12      127.458589
106855   3.370000e+14      127.458589
106856   8.823971e+14      127.458589

[106857 rows x 2 columns]

In [41]:

handset_per_customer = new_data.groupby('MSISDN/Number')['Handset Type'].first().reset_index()

#  Display the result
print('Handset\n',handset_per_customer)

Handset
         MSISDN/Number                      Handset Type
0        3.360100e+10    Huawei P20 Lite Huawei Nova 3E
1        3.360100e+10            Apple iPhone 7 (A1778)
2        3.360100e+10                         undefined
3        3.360101e+10           Apple iPhone 5S (A1457)
4        3.360101e+10           Apple iPhone Se (A1723)
...               ...                               ...
106852   3.379000e+10       Apple iPhone 8 Plus (A1897)
106853   4.188282e+10                           Unknown
106854   3.197021e+12  Quectel Wireless. Quectel Ec25-E
106855   3.370000e+14                  Huawei B525S-23A
106856   8.823971e+14  Quectel Wireless. Quectel Ec21-E

[106857 rows x 2 columns]

In [44]:
new_data['Total Throughput (kbps)'] = new_data['Avg Bearer TP DL (kbps)'] + new_data['Avg Bearer TP UL (kbps)']

#  Group by customer (MSISDN/Number) and calculate average total throughput
average_throughput = new_data.groupby('MSISDN/Number')['Total Throughput (kbps)'].mean().reset_index()

# Display the result
print('\nAverage throughput per user \n\n',average_throughput)

Average throughput per user

         MSISDN/Number  Total Throughput (kbps)
0        3.360100e+10                76.000000
1        3.360100e+10                99.000000
2        3.360100e+10                97.000000
3        3.360101e+10               248.000000
4        3.360101e+10             28422.000000
...               ...                      ...
106852   3.379000e+10               116.000000
106853   4.188282e+10             16958.943222
106854   3.197021e+12                 1.000000
106855   3.370000e+14                33.000000
106856   8.823971e+14                 2.000000

[106857 rows x 2 columns]

In [46]:
new_data['Total TCP Retrans. (Bytes)'] = new_data['TCP DL Retrans. Vol (Bytes)'] + new_data['TCP UL Retrans. Vol (Bytes)']

# Step 3: Sort by total TCP retransmission to get top 10 and bottom 10 values
top_10_tcp_values = new_data['Total TCP Retrans. (Bytes)'].nlargest(10)
bottom_10_tcp_values = new_data['Total TCP Retrans. (Bytes)'].nsmallest(10)

# Step 4: Find the 10 most frequent TCP retransmission values
most_frequent_tcp_values = new_data['Total TCP Retrans. (Bytes)'].value_counts().head(10)

# Step 5: Display results
print("\nTop 10 TCP Values:\n", top_10_tcp_values)
print("\nBottom 10 TCP Values:\n", bottom_10_tcp_values)
print("\n10 Most Frequent TCP Values:\n", most_frequent_tcp_values)

Top 10 TCP Values:
 34645     4.344116e+09
140813    4.301477e+09
77982     4.294432e+09
135678    4.291465e+09
3782      4.288121e+09
119677    4.275492e+09
39637     4.268647e+09
59016     4.261616e+09
76993     4.260174e+09
41209     4.254660e+09
Name: Total TCP Retrans. (Bytes), dtype: float64

Bottom 10 TCP Values:
 143594     86.0
111106     97.0
18432     106.0
13157     108.0
97069     113.0
8816      128.0
99958     129.0
83230     134.0
95965     134.0
12866     143.0
Name: Total TCP Retrans. (Bytes), dtype: float64

10 Most Frequent TCP Values:
 Total TCP Retrans. (Bytes)
2.156957e+07    85265
2.081121e+07      650
7.609887e+05      249
2.081124e+07      248
7.596967e+05      136
2.081123e+07      132
7.597507e+05      132
7.623187e+05      121
7.609767e+05      106
2.081257e+07       99
Name: count, dtype: int64

In [48]:
new_data['Total RTT (ms)'] = new_data['Avg RTT DL (ms)'] + new_data['Avg RTT UL (ms)']

# Step 3: Sort by total RTT to get top 10 and bottom 10 values
top_10_rtt_values = new_data['Total RTT (ms)'].nlargest(10)
bottom_10_rtt_values = new_data['Total RTT (ms)'].nsmallest(10)

# Step 4: Find the 10 most frequent RTT values
most_frequent_rtt_values = new_data['Total RTT (ms)'].value_counts().head(10)

# Step 5: Display results
print("\nTop 10 RTT Values:\n", top_10_rtt_values)
print("\nBottom 10 RTT Values:\n", bottom_10_rtt_values)
print("\n10 Most Frequent RTT Values:\n", most_frequent_rtt_values)

Top 10 RTT Values:
 30166     96924.0
29927     64641.0
17910     55812.0
5989      54848.0
22851     27278.0
23455     26300.0
1373      25922.0
81277     25715.0
97320     25388.0
100582    24738.0
Name: Total RTT (ms), dtype: float64

Bottom 10 RTT Values:
 42612     0.0
103326    0.0
124541    0.0
143878    0.0
71739     2.0
50974     4.0
144923    4.0
103549    5.0
8778      6.0
123213    6.0
Name: Total RTT (ms), dtype: float64

10 Most Frequent RTT Values:
 Total RTT (ms)
127.458589    27801
29.000000      4993
39.000000      4222
38.000000      2761
40.000000      2647
30.000000      2592
28.000000      2424
49.000000      2219
41.000000      1978
31.000000      1960
Name: count, dtype: int64

In [49]:
new_data['Total Throughput (kbps)'] = new_data['Avg Bearer TP DL (kbps)'] + new_data['Avg Bearer TP UL (kbps)']

# Step 3: Sort by total throughput to get top 10 and bottom 10 values
top_10_throughput_values = new_data['Total Throughput (kbps)'].nlargest(10)
bottom_10_throughput_values = new_data['Total Throughput (kbps)'].nsmallest(10)

# Step 4: Find the 10 most frequent throughput values
most_frequent_throughput_values = new_data['Total Throughput (kbps)'].value_counts().head(10)

# Step 5: Display results
print("Top 10 Throughput Values:\n", top_10_throughput_values)
print("Bottom 10 Throughput Values:\n", bottom_10_throughput_values)
print("10 Most Frequent Throughput Values:\n", most_frequent_throughput_values)

Top 10 Throughput Values:
 120884    382262.0
143670    313244.0
141262    304299.0
91318     300546.0
116800    283931.0
141458    281144.0
149617    277152.0
92198     276205.0
116558    274052.0
117784    269888.0
Name: Total Throughput (kbps), dtype: float64
Bottom 10 Throughput Values:
 149     0.0
364     0.0
618     0.0
756     0.0
1818    0.0
2489    0.0
3935    0.0
4166    0.0
4853    0.0
5821    0.0
Name: Total Throughput (kbps), dtype: float64
10 Most Frequent Throughput Values:
 Total Throughput (kbps)
63.0    3886
15.0    3741
97.0    1945
90.0    1885
98.0    1801
96.0    1671
99.0    1571
89.0    1557
91.0    1520
93.0    1491
Name: count, dtype: int64