In [1]:
# notebooks/example_notebook.ipynb

import sys
import os
sys.path.append(os.path.abspath('../scripts'))
sys.path.append(os.path.abspath('../DB_Connection'))
sys.path.append(os.path.abspath('../src'))

In [2]:
from db import load_data_from_postgres,load_data_using_sqlalchemy
from utils import missing_values_table,convert_bytes_to_megabytes,remove_all_columns_outliers

In [3]:
# Define your SQL query
query = "SELECT * FROM xdr_data;"  # Replace with your actual table name

# Load data from PostgreSQL
df = load_data_from_postgres(query)

# Display the first few rows of the dataframe
if df is not None:
    print("Successfully loaded the data")
else:
    print("Failed to load data.")

d:\Kifya\Week_02\DB_Connection\db.py:33: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

Successfully loaded the data

In [4]:
df.head(2)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0

In [5]:
data=df.copy()

In [6]:
# Check for missing values
data.isnull().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [7]:
# # Define your SQL query
# query = "SELECT * FROM xdr_data;"  # Replace with your actual table name

# # Load data from PostgreSQL using SQLAlchemy
# df = load_data_using_sqlalchemy(query)

# # Display the first few rows of the dataframe
# if df is not None:
#     print("Successfully loaded the data")
# else:
#     print("Failed to load data.")

In [8]:
data.shape

(150001, 55)

In [9]:
# Summary statistics for numerical columns
data.describe()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.490100e+05,150000.000000,150000.000000,1.500000e+05,1.494310e+05,1.489350e+05,1.494290e+05,122172.000000,122189.000000,150000.000000,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500000e+05,1.500000e+05
mean,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082016e+14,4.188282e+10,4.847455e+13,109.795706,17.662883,13300.045927,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,2.893173e+18,288.611834,288.097653,8.103762e+04,2.148809e+10,2.447443e+12,2.241637e+13,619.782739,84.793524,23971.878541,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127639e+07,2.441429e+08
min,6.917538e+18,0.000000,0.000000,7.142000e+03,2.040471e+14,3.360100e+10,4.400152e+11,0.000000,0.000000,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349883e+18,250.000000,251.000000,5.744050e+04,2.082014e+14,3.365130e+10,3.546071e+13,32.000000,2.000000,43.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,7.349883e+18,499.000000,500.000000,8.639900e+04,2.082015e+14,3.366371e+10,3.572201e+13,45.000000,5.000000,63.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,1.304243e+19,749.000000,750.000000,1.324302e+05,2.082018e+14,3.368349e+10,8.611970e+13,70.000000,15.000000,19710.750000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,1.318654e+19,999.000000,999.000000,1.859336e+06,2.140743e+14,8.823971e+14,9.900120e+13,96923.000000,7120.000000,378160.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08

In [10]:
missing_values_df = missing_values_table(data)
print("Missing Values in df:")
print(missing_values_df)

Your selected dataframe has 55 columns.
There are 41 columns that have missing values.
Missing Values in df:
                                          Missing Values  % of Total Values  \
Nb of sec with 37500B < Vol UL                    130254               86.8
Nb of sec with 6250B < Vol UL < 37500B            111843               74.6
Nb of sec with 125000B < Vol DL                    97538               65.0
TCP UL Retrans. Vol (Bytes)                        96649               64.4
Nb of sec with 31250B < Vol DL < 125000B           93586               62.4
Nb of sec with 1250B < Vol UL < 6250B              92894               61.9
Nb of sec with 6250B < Vol DL < 31250B             88317               58.9
TCP DL Retrans. Vol (Bytes)                        88146               58.8
HTTP UL (Bytes)                                    81810               54.5
HTTP DL (Bytes)                                    81474               54.3
Avg RTT DL (ms)                                    27829               18.6
Avg RTT UL (ms)                                    27812               18.5
Last Location Name                                  1153                0.8
MSISDN/Number                                       1066                0.7
Bearer Id                                            991                0.7
Nb of sec with Vol UL < 1250B                        793                0.5
UL TP < 10 Kbps (%)                                  792                0.5
50 Kbps < UL TP < 300 Kbps (%)                       792                0.5
UL TP > 300 Kbps (%)                                 792                0.5
10 Kbps < UL TP < 50 Kbps (%)                        792                0.5
Nb of sec with Vol DL < 6250B                        755                0.5
DL TP > 1 Mbps (%)                                   754                0.5
50 Kbps < DL TP < 250 Kbps (%)                       754                0.5
250 Kbps < DL TP < 1 Mbps (%)                        754                0.5
DL TP < 50 Kbps (%)                                  754                0.5
Handset Manufacturer                                 572                0.4
Handset Type                                         572                0.4
IMEI                                                 572                0.4
IMSI                                                 570                0.4
Start                                                  1                0.0
Start ms                                               1                0.0
End                                                    1                0.0
End ms                                                 1                0.0
Dur. (ms)                                              1                0.0
Avg Bearer TP UL (kbps)                                1                0.0
Avg Bearer TP DL (kbps)                                1                0.0
Dur. (ms).1                                            1                0.0
Activity Duration UL (ms)                              1                0.0
Activity Duration DL (ms)                              1                0.0
Total UL (Bytes)                                       1                0.0
Total DL (Bytes)                                       1                0.0

                                            Dtype
Nb of sec with 37500B < Vol UL            float64
Nb of sec with 6250B < Vol UL < 37500B    float64
Nb of sec with 125000B < Vol DL           float64
TCP UL Retrans. Vol (Bytes)               float64
Nb of sec with 31250B < Vol DL < 125000B  float64
Nb of sec with 1250B < Vol UL < 6250B     float64
Nb of sec with 6250B < Vol DL < 31250B    float64
TCP DL Retrans. Vol (Bytes)               float64
HTTP UL (Bytes)                           float64
HTTP DL (Bytes)                           float64
Avg RTT DL (ms)                           float64
Avg RTT UL (ms)                           float64
Last Location Name                         object
MSISDN/Number                             float64
Bearer Id                                 float64
Nb of sec with Vol UL < 1250B             float64
UL TP < 10 Kbps (%)                       float64
50 Kbps < UL TP < 300 Kbps (%)            float64
UL TP > 300 Kbps (%)                      float64
10 Kbps < UL TP < 50 Kbps (%)             float64
Nb of sec with Vol DL < 6250B             float64
DL TP > 1 Mbps (%)                        float64
50 Kbps < DL TP < 250 Kbps (%)            float64
250 Kbps < DL TP < 1 Mbps (%)             float64
DL TP < 50 Kbps (%)                       float64
Handset Manufacturer                       object
Handset Type                               object
IMEI                                      float64
IMSI                                      float64
Start                                      object
Start ms                                  float64
End                                        object
End ms                                    float64
Dur. (ms)                                 float64
Avg Bearer TP UL (kbps)                   float64
Avg Bearer TP DL (kbps)                   float64
Dur. (ms).1                               float64
Activity Duration UL (ms)                 float64
Activity Duration DL (ms)                 float64
Total UL (Bytes)                          float64
Total DL (Bytes)                          float64

In [11]:
# df['x'] = convert_bytes_to_megabytes(df, 'HTTP DL (Bytes)')

# print(df)

In [12]:
# remove unnecessary column
columns_to_drop = ['Bearer Id', 'IMSI', 'IMEI', 'Last Location Name']
droped_data = data.drop(columns=columns_to_drop, errors='ignore')
droped_data.head(2)

,Start,Start ms,End,End ms,Dur. (ms),MSISDN/Number,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,3.366496e+10,42.0,5.0,23.0,44.0,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,3.368185e+10,65.0,5.0,16.0,26.0,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0

In [13]:
# Assuming 'data_cleaned' is the DataFrame containing the data
import pandas as pd
# Convert 'Start' and 'End' columns to datetime format
droped_data['Start'] = pd.to_datetime(droped_data['Start'], errors='coerce')
droped_data['End'] = pd.to_datetime(droped_data['End'], errors='coerce')

# Check for any missing values introduced due to invalid date formats
# missing_dates = droped_data[['Start', 'End']].isnull().sum()

In [14]:
droped_data.head(1)

,Start,Start ms,End,End ms,Dur. (ms),MSISDN/Number,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,1823652.0,3.366496e+10,42.0,5.0,23.0,44.0,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0

In [15]:
print(droped_data.dtypes)

Start                                       datetime64[ns]
Start ms                                           float64
End                                         datetime64[ns]
End ms                                             float64
Dur. (ms)                                          float64
MSISDN/Number                                      float64
Avg RTT DL (ms)                                    float64
Avg RTT UL (ms)                                    float64
Avg Bearer TP DL (kbps)                            float64
Avg Bearer TP UL (kbps)                            float64
TCP DL Retrans. Vol (Bytes)                        float64
TCP UL Retrans. Vol (Bytes)                        float64
DL TP < 50 Kbps (%)                                float64
50 Kbps < DL TP < 250 Kbps (%)                     float64
250 Kbps < DL TP < 1 Mbps (%)                      float64
DL TP > 1 Mbps (%)                                 float64
UL TP < 10 Kbps (%)                                float64
10 Kbps < UL TP < 50 Kbps (%)                      float64
50 Kbps < UL TP < 300 Kbps (%)                     float64
UL TP > 300 Kbps (%)                               float64
HTTP DL (Bytes)                                    float64
HTTP UL (Bytes)                                    float64
Activity Duration DL (ms)                          float64
Activity Duration UL (ms)                          float64
Dur. (ms).1                                        float64
Handset Manufacturer                                object
Handset Type                                        object
Nb of sec with 125000B < Vol DL                    float64
Nb of sec with 1250B < Vol UL < 6250B              float64
Nb of sec with 31250B < Vol DL < 125000B           float64
Nb of sec with 37500B < Vol UL                     float64
Nb of sec with 6250B < Vol DL < 31250B             float64
Nb of sec with 6250B < Vol UL < 37500B             float64
Nb of sec with Vol DL < 6250B                      float64
Nb of sec with Vol UL < 1250B                      float64
Social Media DL (Bytes)                            float64
Social Media UL (Bytes)                            float64
Google DL (Bytes)                                  float64
Google UL (Bytes)                                  float64
Email DL (Bytes)                                   float64
Email UL (Bytes)                                   float64
Youtube DL (Bytes)                                 float64
Youtube UL (Bytes)                                 float64
Netflix DL (Bytes)                                 float64
Netflix UL (Bytes)                                 float64
Gaming DL (Bytes)                                  float64
Gaming UL (Bytes)                                  float64
Other DL (Bytes)                                   float64
Other UL (Bytes)                                   float64
Total UL (Bytes)                                   float64
Total DL (Bytes)                                   float64
dtype: object

In [16]:
# fill numeric missing value with mean
numeric_cols = droped_data.select_dtypes(include='number').columns
data_filled_numeric = droped_data[numeric_cols].fillna(droped_data[numeric_cols].mean())

In [17]:
# Fill non-numeric columns with a placeholder or mode
non_numeric_cols = droped_data.select_dtypes(exclude='number').columns

data_filled_non_numeric = droped_data[non_numeric_cols].fillna('Unknown')

In [18]:
# Merge both numeric and non-numeric
data_filled = pd.concat([data_filled_numeric, data_filled_non_numeric], axis=1)

In [19]:
# check missing value after hadle it
print(data_filled.isnull().sum())

Start ms                                    0
End ms                                      0
Dur. (ms)                                   0
MSISDN/Number                               0
Avg RTT DL (ms)                             0
Avg RTT UL (ms)                             0
Avg Bearer TP DL (kbps)                     0
Avg Bearer TP UL (kbps)                     0
TCP DL Retrans. Vol (Bytes)                 0
TCP UL Retrans. Vol (Bytes)                 0
DL TP < 50 Kbps (%)                         0
50 Kbps < DL TP < 250 Kbps (%)              0
250 Kbps < DL TP < 1 Mbps (%)               0
DL TP > 1 Mbps (%)                          0
UL TP < 10 Kbps (%)                         0
10 Kbps < UL TP < 50 Kbps (%)               0
50 Kbps < UL TP < 300 Kbps (%)              0
UL TP > 300 Kbps (%)                        0
HTTP DL (Bytes)                             0
HTTP UL (Bytes)                             0
Activity Duration DL (ms)                   0
Activity Duration UL (ms)                   0
Dur. (ms).1                                 0
Nb of sec with 125000B < Vol DL             0
Nb of sec with 1250B < Vol UL < 6250B       0
Nb of sec with 31250B < Vol DL < 125000B    0
Nb of sec with 37500B < Vol UL              0
Nb of sec with 6250B < Vol DL < 31250B      0
Nb of sec with 6250B < Vol UL < 37500B      0
Nb of sec with Vol DL < 6250B               0
Nb of sec with Vol UL < 1250B               0
Social Media DL (Bytes)                     0
Social Media UL (Bytes)                     0
Google DL (Bytes)                           0
Google UL (Bytes)                           0
Email DL (Bytes)                            0
Email UL (Bytes)                            0
Youtube DL (Bytes)                          0
Youtube UL (Bytes)                          0
Netflix DL (Bytes)                          0
Netflix UL (Bytes)                          0
Gaming DL (Bytes)                           0
Gaming UL (Bytes)                           0
Other DL (Bytes)                            0
Other UL (Bytes)                            0
Total UL (Bytes)                            0
Total DL (Bytes)                            0
Start                                       0
End                                         0
Handset Manufacturer                        0
Handset Type                                0
dtype: int64

### Detectiong and Handling Outlier

In [23]:
data_iqr_cleaned = remove_all_columns_outliers(data_filled, method="iqr")

In [24]:
data_cleaned_zscore = remove_all_columns_outliers(data_filled, method="zscore")
# Check the shape of the cleaned data
print(f"Original data shape: {data_filled.shape}")
print(f"Cleaned data shape (IQR method): {data_iqr_cleaned.shape}")
print(f"Cleaned data shape (Z-score method): {data_cleaned_zscore.shape}")

Original data shape: (150001, 51)
Cleaned data shape (IQR method): (55613, 51)
Cleaned data shape (Z-score method): (127926, 51)

##### Take Z-score method to preserve most data